absl-py==0.7.0
asn1crypto==0.24.0
astor==0.7.1
beautifulsoup4==4.7.1
cachetools==3.1.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.4.2
cycler==0.10.0
Flask==1.0.2
Flask-WTF==0.14.2
gast==0.2.2
google-api-python-client==1.7.8
google-auth==1.6.2
google-auth-httplib2==0.0.3
grpcio==1.16.1
h5py==2.9.0
httplib2==0.12.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.15.4
pandas==0.24.0
protobuf==3.6.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
pyOpenSSL==18.0.0
pyparsing==2.3.1
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
requests==2.21.0
rsa==4.0
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
soupsieve==1.7.1
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
tornado==5.1.1
uritemplate==3.0.0
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
